[2017-01-08 17:28] front-stream opened #1 "Demo version"
Could you add simple live demo version to this project? I can't use it because I see error:
'view-controller.js:470 ModalCmp ionViewPreLoad error: No provider for ViewController!'

[2017-01-09 06:47] nikini commented on #1
Hi @front-stream. I'll provide a demo for you, today.

[2017-01-09 07:26] front-stream commented on #1
Thanks, I am waiting for it :) I am using ionic 2.0.0-rc.4

[2017-01-09 16:09] nikini commented on #1
Check this out https://github.com/nikini/ionic-gallery-modal-demo

[2017-01-11 12:43] martinop opened #2 "Error with Ahead of Time"
Hi, This is a nice lib for gallery but I have a problem when try to compile with AoT
the problem:

Unexpected value 'GalleryModal' declared by the module 'AppModule'

[2017-01-11 14:30] nikini commented on #2
Can you show me you AppModule code? Seems like you haven't imported the GalleryModal

[2017-01-11 14:31] #1 closed, assigned to nobody

[2017-01-13 15:17] krooshua commented on #2
Same issue when running production build

`ionic build --prod --release`

GalleryModal imported to AppModule and added to declarations and entryComponents

[2017-01-14 12:26] nikini commented on #2
I have an updated version. Will be updating this soon. I think that may fix it

[2017-01-14 14:34] nikini commented on #2
Can you check the new version?

[2017-01-14 15:10] nikini commented on #2
The problem is a bit more complex. Ionic has removed a lot of functionalities. Back to the sketchboard. I'll be commiting a new version these days.

[2017-01-15 12:07] nikini commented on #2
Fixed it for Ionic RC5 and fixed the other stuff. Can you please check now? v0.0.8

Otherwise, please provide a code example

[2017-01-15 17:33] martinop commented on #2
Thanks, i will try

[2017-01-19 09:54] kkaabbaa opened #3 "When i use one image on array photos - Error"
EXCEPTION: Error in ./GalleryModal class GalleryModal - inline template:0:944 caused by: Cannot read property 'url' of undefined

I use like example

[code]

When use 2 or more all it fine

[2017-01-19 10:20] krooshua commented on #3
Hi kkaabbaa,

Format is [{url: imageUrl}], try to update your code like this

`let modal = this.modalCtrl.create(GalleryModal, {
      photos: [{url: this.photos}],
      initialSlide: 1
    });
    modal.present();`

[2017-01-19 11:29] kkaabbaa commented on #3
I realized what a mistake

I do not correctly passed index

initialSlide: 0 - when one image

Thx

[2017-01-21 05:19] marcelofb commented on #2
Hi, the error continues :(

[2017-01-24 14:15] nikini commented on #2
I'm working on the bug. So far, as a workaround, if it's urgent, you can take the classes from the source of this repo and use them within your project

[2017-01-26 20:50] kctang opened #4 "unable to pan image in zoomed mode (device only)"
Testing this on Android device, once I zoom into the image, I am not able to pan the image.

When i tried to pan in zoomed mode, i see this in Chrome DevTools:

[code]
Any idea?

Note: This issue does not affect desktop as we can still scroll.

[2017-01-27 07:55] #4 closed, assigned to nobody

[2017-01-27 07:57] #3 closed, assigned to nobody

[2017-01-30 15:40] gregavola opened #6 "Is there anyway to use this for a single image?"
We don't need the gallery features, just be able to use the single image to pop-up, sadly it doesn't work if we just important the `zoomable-image` component, any ideas?

[2017-02-01 12:26] diegofal commented on #6
I have been able to use zoomable-image by itself. Which problems are you getting?

[2017-02-01 12:27] diegofal opened #7 "Zoom going lower than min value"
Lets say the image has its default size is 100x100

The zoom action is letting me go lower than that, and the image breaks when that happens.

Is this something you can restrict from the zoomable-image implementation?
Thanks!

[2017-02-01 12:36] diegofal commented on #7
Also, when the image is zoomed, scrolling through the image is not responding as expected. It flickers, like if the position.x or position.y is not being calculated correctly

[2017-02-02 14:45] nikini commented on #7
I'll look at it. So, you tried an 100x100 image and the container is much larger, right?

[2017-02-02 14:46] nikini commented on #6
I'm also wondering why you could not use zoomable-image. But, anyway, I'll be looking into updating the plugin soon as well as supporting the final version of ionic 2

[2017-02-02 15:15] diegofal commented on #7
Well, I am not sure about the container itself.
 What I know is that I see the browser scrollbars in places I shouldnt, which means that there is a problem with the browser scrolling.

I am not being able to figure it out by debugging variables in the zoomable-image class. Perhaps you are luckier.

[UPDATE]

If I comment this line:

this.setScroll();

The flicker goes away.

Thanks!

[2017-02-06 04:53] phortonssf opened #8 "Adding buttons"
Where can i find the html to add buttons to the modal image view? thanks

[2017-02-06 08:30] nikini commented on #8
Well, the html is mostly made by the plugin. You could just get the two classes from the repo, put them in your project and you'll find the html within them.

[2017-02-09 06:16] f0malin opened #9 "got error when I add then to components array in app.module.ts"
![image](https://cloud.githubusercontent.com/assets/680858/22771514/1a357b0e-eed2-11e6-8709-3ffa7b154e71.png)

it is the newest ionic 2 version

[2017-02-09 20:41] phortonssf opened #10 "scroll on zoom?"
I installed the demo, how can I enable scroll on zoom? thank you

[2017-02-10 01:29] phortonssf commented on #10
Actually zoom and scroll works wonderfully on ios but not on andriod. Any fixes for the scroll while zoomed on android? thank you. Looks great btw.

[2017-02-15 12:57] shyamal890 commented on #2
Hmm, facing the same issue, any updates?

[2017-02-16 23:56] antonioloiaconodev opened #11 "Add button to show ActionSheet"
How to add button to show actionSheet into modal for more function!?

[2017-02-20 13:27] nikini commented on #2
No updates yet. Sorry, but I'm busy at work and this is outside my current work. I welcome any pull request and I approve it if it's ok :)

Will be on it this week, hopefully

[2017-03-05 12:28] kapil-kumawat opened #12 "Unexpected value 'GalleryModal' declared by the module 'AppModule'"
Unexpected value 'GalleryModal' declared by the module 'AppModule'
when compile with
ionic build android --prod --release

[2017-03-05 12:30] kapil-kumawat commented on #12
this is my app.module.ts file code :

import { NgModule, ErrorHandler } from '@angular/core';
import { IonicApp, IonicModule, IonicErrorHandler } from 'ionic-angular';
import { MyApp } from './app.component';
import { HomePage } from '../pages/home/home';
import { GalleryModal } from 'ionic-gallery-modal';
import { ZoomableImage } from 'ionic-gallery-modal';
@NgModule({
declarations: [
    MyApp,

[2017-03-06 02:49] MazinAffan-Kinesso commented on #10
@phortonssf this worked for me
[code]

[2017-03-06 13:18] davideas commented on #12
It occurs also to me, @nikini will you resolve this?
Also, could you check if this module needs to be adapted for latest version Ionic?

[2017-03-06 22:34] phortonssf commented on #10
I put it in my app.scss and the page.scss. It sorta of works. When i try to
move while zoomed the image is basically cropped to that zoomed content.
Any ideas?

On Sun, Mar 5, 2017 at 6:49 PM, mazinaffan <notifications@github.com> wrote:

[2017-03-07 02:00] MazinAffan-Kinesso commented on #10
not sure that I follow...after zooming I am able to move the image and view any part of it, the image isn't cropped

[2017-03-07 02:54] phortonssf commented on #10
What file is your CSS in

On Mar 6, 2017 6:00 PM, "mazinaffan" <notifications@github.com> wrote:

[2017-03-07 02:55] MazinAffan-Kinesso commented on #10
mine is only in app.scss

[2017-03-07 03:00] phortonssf commented on #10
I'll try it again when I get home. But yeah when zoomed then tried to move
around the zoomed screen. It was treating the zoomed size as the max size
of the image. So no touch and scroll. Thanks .

On Mar 6, 2017 6:55 PM, "mazinaffan" <notifications@github.com> wrote:

[2017-03-07 14:25] leonardoalt opened #13 "Retrieve click coordinates"
First of all, nice work!

Let's say I have a zoomed image, is it possible to retrieve the coordinates of a click on the image?

[2017-03-07 18:03] nikini commented on #13
Thanks! I don't have the time right now to take care of it. I would want to promise that it's this week, but I cannot, since my time is very limited. I'll get some hours to work in it this week. I hope it'll be enough

[2017-03-07 18:04] nikini commented on #13
You could retrieve the coordonates of the image by capturing the click event

[2017-03-07 18:07] leonardoalt commented on #13
Alright, no problem.
Do you mean capturing the click event inside the code of ionic-gallery-modal, or on my code on a div or something like that wrapping the modal?

[2017-03-07 18:09] nikini commented on #13
Well, you can always capture the click from the modal and get the event target (did not try it, myself, but should be possible)

[2017-03-07 18:09] nikini commented on #13
I mean event target becauae you also have the close button in the moda

[2017-03-15 14:46] AmitMY commented on #2
Finally found something beautiful that my team agrees to use, and then this :(

[2017-03-15 15:36] kctang commented on #2
@AmitMY If you need it now, just include the classes directly in your project. I tried it - very little effort and works nicely. You can switch back to depending on this package when this issue is resolved.

Even better if you can help fix it with a pr. It is free & open source after all. :-)

[2017-03-15 16:15] AmitMY commented on #2
@kctang Works! Thanks.
If I'll figure the issue out, will definitely make a PR

[2017-03-15 17:08] nikini commented on #2
The thing I want to test is the zoom functionality from the current slides component. If that should work properly, then this isn't needed anymore.

[2017-03-28 06:41] Rieranthony commented on #12
Same for me, someone found any solutions?

[2017-03-28 20:38] nikini commented on #12
I don't have the time for it and I won't have it in the next few weeks. I can help you understand things through the code and you can debug it

[2017-03-31 04:10] kristernavi opened #14 "Build an android in production mode"
this happen when i try to build it on production mode but when no --prod its working fine

[01:58:20]  ionic-app-scripts 1.1.4
[01:58:20]  build prod started ...
[01:58:20]  clean started ...
[01:58:20]  clean finished in 6 ms
[01:58:20]  copy started ...
[01:58:20]  ngc started ...
[01:58:34]  build prod failed: Error encountered resolving symbol values statically. Calling function
            'm

[2017-04-02 10:03] danielsogl commented on #14
I have the same problem

[2017-04-04 14:54] LokeshInfoBeans commented on #14
I also have the same issues. Kindly suggest the solution for this.

[2017-04-08 10:00] tgezginis opened #15 "Swipe to close"
Thanks for your great job. I think swipe to close feature would be nice for native-like experience.

[2017-04-24 10:09] zjcjoaquin opened #16 "Slide Problem"
when i use this component ,it work fine  but only one problem

i zoom the photo ,it can't slide any more. and it must zoom the photo to the original size ,the slide work fine.

can this problem be resolved or configed

[2017-05-03 06:15] IndraPriyaDarshini opened #17 "Image is not centred"
Hi sir, thanks for your gallery-modal.

when i click on a image it is dispalying  at the center for 2 secs and then it is moving top can you please tell me where i was going wrong.

[2017-05-04 03:21] JoelAH opened #18 "App keep crashing"
It keeps on crashing and not giving me an error message

[2017-05-04 03:58] JoelAH commented on #12
I need a solution also

[2017-05-05 11:39] nikini commented on #18
Because of this package? Can you share the way you're using it?

[2017-05-05 11:40] nikini commented on #17
Hmm, that must mean there is a CSS property that's moving the gallery on top. Do you have a url where I could look?

[2017-05-05 11:41] nikini commented on #16
Hmm, that's intended behaviour. Maybe in the future that's going to change, but I don't see that happening right now

[2017-05-05 11:41] nikini commented on #15
Yeah, I want to build that, but ionic-slides is a bit too limited for my tastes. That's the first todo on my list (after fixing some issues)

[2017-05-05 11:42] nikini commented on #14
Hello, as a suggestion maybe get the classes from here on github and use them directly in your project. I'll look into this when I have the time

[2017-05-08 20:49] grimace opened #19 "I have a mixture of images and videos, is there an easy way to display either?"
I'm looking for a solution that can show either and was wondering if 'ionic-gallery-modal' could do this.

Thx.

[2017-05-12 13:48] ilvalerione opened #21 "Exception at ZoomableImage.ngOnInit"
Hello,
I get an error using latest ionic version.

When I click on image to open the gallery I receive this exception:

`Error: Cannot read property 'nativeElement' of undefined at ZoomableImage.`

[code]

The openGallery method:
[code]

My environment

    @ionic/app-scripts              : 1.3.7
    @ionic/cli-plugin-cordova       : 1.0.0
    @ionic/cli-plugin-ionic-angular : 1.0.0
    Ionic Fram

[2017-05-15 17:54] michelmouallem commented on #21
Solution :  , Please open **node_modules => ion-gallery-modal => zoomable-image**

**on line 49  replace**
this.scrollableElement = this.ionScrollContainer['_elementRef'].nativeElement.querySelector('.scroll-content');
TO
this.scrollableElement = document.getElementsByClassName(".scroll-content"); zoomable-image

**On line 62 replace**
this.scrollableElement.removeEventListener('scroll', this.scro

[2017-05-16 14:13] mewehren opened #22 "Error: Cannot read property 'nativeElement' of undefined at ZoomableImage."
Hello,
I get an error using latest ionic version.

When I click on image to open the gallery I receive this exception:

Error: Cannot read property 'nativeElement' of undefined at ZoomableImage.

i tried @michelmouallem
// Solution : , Please open node_modules => ion-gallery-modal => zoomable-image

on line 49 replace
this.scrollableElement = this.ionScrollContainer['_elementRef'].nativeElement.qu

[2017-05-16 14:14] mewehren commented on #21
@michelmouallem i did that, but still having the same exception!!

[2017-05-16 14:31] ilvalerione commented on #21
@michelmouallem thanks a lot, works perfect now.

Do you want the codebase of the Git repository to a new version?

[2017-05-16 14:43] michelmouallem commented on #22
@peluqui2010  Try to empty your cache, or delete the www folder then type ionic serve . and it should works ,

in addition i added a style to the page in order to allow the scrolling image after zooming

/*
Edited by Michel Mouallem after updating ionic to 3.2.1
*/

"use strict";
var __decorate = (this && this.__decorate) || function (decorators, target, key, desc) {
    var c = arguments.length,

[2017-05-16 21:04] mewehren commented on #22
nice its worked!! but i cant run "ionic run android --prod"...
//
ionic-app-script task: "build"
[18:03:23]  Error: Error encountered resolving symbol values statically. Calling function 'makeParamDecorator', function
            calls are not supported. Consider replacing the function or lambda with a reference to an exported function,
            resolving symbol Injectable in
            C:/Use

[2017-05-16 21:24] michelmouallem commented on #22
i didnt get into this level yet, i think faster solution is to uninstall the ionic-gallery-modal , compile your production android , After it reinstall the module and copy the main.js manually to folder platform android

[2017-05-16 21:38] mewehren commented on #22
ok thanks for all!!

[2017-05-17 20:04] ridwan85 commented on #12
Download or clone the source from this repo.
Create appmodule folder in your src
You would have something like this
[code]
And then in your app.module.ts file

instead of
[code]
change to this

[code]

And in any of your pages/yourfile.ts

just import this to use it.
[code]
Then run
`ionic build ios --prod`
or
`ionic build android --prod`

The problem should go away. Somehow i think this issue rel

[2017-05-24 15:46] francoro opened #23 "Cannot read property 'nativeElement' of undefined"
this.scrollableElement = this.ionScrollContainer['_elementRef'].nativeElement.querySelector('.scroll-content');

is that line of code in zoomable-image.js
line 49

Please help

[2017-05-24 17:39] GleidsonFerSanP opened #24 "Error post update for ionic 3"
Hi,
This error ocurred in my project post update for ionic 3
**Error: Error encountered resolving symbol values statically. Calling function 'makeParamDecorato r', function calls are not supported. Consider replacing the function or lambda with a reference to an export ed function, resolving symbol Injectable in**

Sorry for my weak english

[2017-05-29 09:46] zt-117 opened #25 "makeParamDecorator"
ionic build android --prod --release :
build prod failed: Error encountered resolving symbol values statically. Calling function
'**makeParamDecorator**', function calls are not supported. Consider replacing the function or lambda with a
reference to an exported function, resolving symbol Injectable in
D:/ionic/node_modules/ionic-gallery-modal/node_modules/@angular/core/src/di/metadata.d.ts, resol

[2017-05-30 12:34] itskrsna commented on #14
Sorry @nikini  that didn't helped , Issue still occurs

[2017-05-30 12:35] itskrsna commented on #14
@kristernavi  can you able to get a solution for the above issue ?
or
any workaround?

[2017-05-30 20:26] nikini commented on #19
I'm going to look into this. Should you also be able to zoom? Cause I don't think you can do that normally

[2017-05-30 20:27] nikini commented on #13
Did you capture them?

[2017-05-30 20:28] nikini commented on #11
It's not possible right now. Will think about it for future versions

[2017-05-30 20:28] nikini commented on #10
Does it work now? can you try version 0.1.0?

[2017-05-30 20:29] nikini commented on #9
Can you try the new version (0.1.0)?

[2017-05-30 20:30] nikini commented on #7
Can you try the new version (0.1.0)?

[2017-05-30 20:30] nikini commented on #6
Should work with ionic 3 :)

[2017-05-30 20:30] #6 closed, assigned to nobody

[2017-05-30 20:31] nikini commented on #2
Can you test the new version (0.1.0) and tell me if you still have this issue?

[2017-05-30 20:32] nikini commented on #23
Fixed in version 0.1.0

[2017-05-30 20:32] #23 closed, assigned to nobody

[2017-05-30 20:32] nikini commented on #25
Fixed in version 0.1.0

[2017-05-30 20:32] #25 closed, assigned to nobody

[2017-05-30 20:32] nikini commented on #24
Fixed in version 0.1.0

[2017-05-30 20:32] #24 closed, assigned to nobody

[2017-05-30 20:32] nikini commented on #22
Fixed in version 0.1.0

[2017-05-30 20:32] #22 closed, assigned to nobody

[2017-05-30 20:32] nikini commented on #21
Fixed in version 0.1.0

[2017-05-30 20:32] #21 closed, assigned to nobody

[2017-05-30 20:33] nikini commented on #14
Fixed in version 0.1.0

[2017-05-30 20:33] #14 closed, assigned to nobody

[2017-05-30 20:33] nikini commented on #12
Can you try version 0.1.0 and tell me if this still happens?

[2017-05-30 20:36] #17 closed, assigned to nobody

[2017-05-31 07:26] shareefmorayur commented on #21
i still face the issue. i just installed the plugin today. what is the wrong with my code?? the error is given below

ERROR Error: Uncaught (in promise): TypeError: Cannot read property 'nativeElement' of undefined
TypeError: Cannot read property 'nativeElement' of undefined
    at ZoomableImage.ngOnInit (index.js:47)
    at checkAndUpdateDirectiveInline (core.es5.js:10759)
    at checkAndUpdateNo

[2017-05-31 07:44] nikini commented on #21
Did you install the version 0.1.0? Can you show me your package.json?

[2017-05-31 07:49] shareefmorayur commented on #21
i fixed the issue by just editing one line of index.js:56
`this.scrollableElement = this.ionScrollContainer['_scrollContent'].nativeElement;`
TO
`this.scrollableElement = this.ionScrollContainer._elementRef.nativeElement;`

Refer the below code

[code]

[2017-05-31 08:03] shareefmorayur commented on #21
yes, updated the version to 0.1.0 . pelase check the package.json

[code]

[2017-05-31 08:16] nikini commented on #21
Try v0.1.1.

I've updated a bit more than just that line. I've tested it in the demo and it works, but I'm curious if it works for you (cause the previous version also worked for me)

[2017-05-31 10:23] itskrsna commented on #23
After updating to 0.1.0 , im getting the same issue

[2017-05-31 11:21] nikini commented on #23
Can you try 0.1.1? I've noticed someone else saying the same.

[2017-05-31 11:27] itskrsna commented on #23
sure , let me check

[2017-05-31 18:06] mewehren commented on #21
@shareefmoaryur @nikini  nice work nikini iwas waiting that update!!
sharee i had the same problem and then tried deleting ionic gallery modal folder and reinstall it like this
"npm install ionic-gallery-modal@0.1.0 --save" then start the server again!!

[2017-05-31 18:36] nikini commented on #21
Thanks @peluqui2010
You can also try v0.1.1 and see if it works. It's got some small change and I'm curious if it will work for you

[2017-06-01 06:16] itskrsna commented on #23
it works with the Latest Version 0.1.1 and i can able to do prod build .

[2017-06-01 07:11] shareefmorayur commented on #21
Thanks @nikini . Now it is working properly. there was one problem of npm install. So i deleted the node_module folder and installed again using 'npm install'.

[2017-06-01 08:11] #18 closed, assigned to nobody

[2017-06-01 08:12] #2 closed, assigned to nobody

[2017-06-01 09:33] itskrsna opened #27 "Error: Cannot find module "ionic-gallery-modal/ionic-gallery-modal""
After Running `ionic-app-scripts build --prod`

while running the app , facing the above error

[2017-06-01 10:07] nikini commented on #27
Why is it "ionic-gallery-modal/ionic-gallery-modal"? Did you import from that?

[2017-06-01 10:10] itskrsna commented on #27
No , this how i import it

`import { GalleryModal, ZoomableImage } from 'ionic-gallery-modal';`

[2017-06-01 10:12] nikini commented on #27
Ok, that looks fine, for the app module I suppose. What about where you use it

[2017-06-01 10:18] itskrsna commented on #27
In the gallery.ts and its file structure is

`src ---> pages ---> gallery --> gallery.ts`

in `gallery.ts` i'm calling as follow

`import { GalleryModal, ZoomableImage } from 'ionic-gallery-modal';`

Interesting thing is this fails only if i run in ` ionic-app-scripts build --prod`  mode.

this is my `package.json`

[code]

[2017-06-01 10:19] nikini commented on #27
That is weird. Did you try searching within your project for `ionic-gallery-modal/ionic-gallery-modal`? Maybe accidentally it's somewhere..

[2017-06-01 10:19] nikini commented on #27
Are you using yarn or npm?

[2017-06-01 10:21] itskrsna commented on #27
Yes , i do search there but i didn't find anything like that , i removed the package and added back again using npm from your readme , but still no luck..

[2017-06-01 10:24] itskrsna commented on #27
Just to add more info , i didn't get any compile error as i have tried with `--verbose` also . only when running the app i got this error.

[2017-06-01 11:19] nikini commented on #27
Does it say where the error is? Like the file/line?

[2017-06-01 13:29] itskrsna commented on #27
This is the Console Error

[code]

[2017-06-02 07:15] nikini commented on #27
Hmm, could you send me the main js compiled file? I don't think I can trace the error otherwise

[2017-06-03 03:42] nirajapril7 opened #28 "Cannot read property 'nativeElement' of undefined at ZoomableImage.ngOnInit"
Runtime Error
Uncaught (in promise): TypeError: Cannot read property 'nativeElement' of undefined TypeError: Cannot read property 'nativeElement' of undefined at ZoomableImage.ngOnInit

[2017-06-03 08:41] nikini commented on #28
Hi @nirajkiul ! Did you try v0.1.1?

[2017-06-03 10:37] nirajapril7 commented on #28
Hi @nikini
Ionic Framework: 3.2.1
Ionic App Scripts: 1.3.7
Angular Core: 4.1.0
Angular Compiler CLI: 4.1.0
Node: 6.9.5
OS Platform: Windows 10
Navigator Platform: Win32
User Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36

[2017-06-04 08:50] nikini commented on #28
Ok, but I mean the version of this library?

[2017-06-05 08:41] itskrsna commented on #27
Can you provide me ur mail id , so that i can mail u , rather than posting whole file here?

[2017-06-05 08:54] itskrsna commented on #27
@nikini  np , you can view the code here:

[main.js](http://ajapi.masterek.org/main.js)

[2017-06-05 09:23] nikini commented on #27
You can see my email address in my profile. :)

Yeah, from the compiled file I can't tell

[2017-06-05 09:26] itskrsna commented on #27
@nikini  , if it is uncompiled , im not getting this issue.. event then you need that uncompiled file ?

[2017-06-05 09:39] nikini commented on #27
Hmm, let's try it differently. Can you clone the demo and try to compile it? I'm curious if that is working for you

[2017-06-05 09:41] itskrsna commented on #27
Sure , let me give a try and get back to u

[2017-06-05 13:11] itskrsna commented on #27
@nikini  even with your demo after upgrading to the 0.1.1 , i'm able to repro the issue..

[2017-06-05 13:14] nikini commented on #27
What's the command you ran on my demo? I can also try to run it

[2017-06-05 13:19] itskrsna commented on #27
Sure , here is the package.json of your modified demo

[code]

In the above i added ionic-build in Prod mode , so i ran that one ..

[2017-06-06 16:34] darkokostic commented on #27
Hi there, I had the same issue, after that I removed my node_modules and run npm install to install it again. I am now getting this error when I run ionic build android --prod:

ionic-app-script task: "build"
[18:20:15]  Error: ./~/ionic-gallery-modal/ionic-gallery-modal.ngfactory.js Module not found: Error: Can't resolve 'ionic-gallery-modal/ionic-gallery-modal'

[2017-06-07 06:44] milanjya opened #29 "how can i show base64Image with this component?"
how can i show base64Image with this component?

[2017-06-07 08:37] nikini commented on #29
Seen as you can use it like this:
[code]

just use a url as you would normally use a url like this `data:image/png;base64,iVBORw0KGgo`

[2017-06-08 05:27] nirajapril7 commented on #28
@nikini! version- v0.0.9
"ionic-gallery-modal": "0.0.9"

[2017-06-08 07:07] nikini commented on #28
Can you try v0.1.1 ?

[2017-06-08 07:08] nikini commented on #27
I'll be releasing a new feature in a couple of days that will address this issue (beside others)

[2017-06-08 07:09] #28 closed, assigned to nobody

[2017-06-08 07:09] #12 closed, assigned to nobody

[2017-06-08 07:11] nikini commented on #10
Should be fixed in the new version, but I'm awaiting a response @phortonssf

[2017-06-08 07:14] nikini commented on #9
@formalin14 Waiting for a respons from you

[2017-06-08 07:15] itskrsna commented on #27
@nikini  sure, can you tell me what might be the cause of it ?

Thanks for the Quick Response and Support .. any help for the Repo i'm there ..

[2017-06-08 07:22] nikini commented on #27
Well, like most issues, I think it's the transpiling. But, I've made a module out of it and then, you will only need to import the module. I think that that will fix it. I'll have to test.
Haven't really tested it yet, just assuming that that might be it

[2017-06-09 05:29] itskrsna commented on #27
That seems to be interesting one to discuss .. generally transpiling will be taken care by `ionic-app-scripts` . aren't you using them ?  or am i missing something here ?

[2017-06-11 07:29] nirajapril7 commented on #28
Yeah sure @nikini . I will try and let you know. Thanks :)

[2017-06-12 14:25] #13 closed, assigned to nobody

[2017-06-15 13:58] feliperoan commented on #27
Is a simple plugin and what many need, but I would like to know if you made any changes about the error when compiling --prod? :)

[2017-06-15 15:25] itskrsna commented on #27
What changes u are referring ?

Sent from my iPhone

[2017-06-19 08:53] sebastianovide opened #30 "idea: popover ?"
what about make it work also with popovers ?

[2017-06-19 10:10] nikini commented on #30
What do you mean? Like, in a popover?

[2017-06-21 16:06] davideas commented on #28
@nikini, could you please support version for ionic-angular@3.4.2 ?
We need this compatibility! Thanks.

[2017-06-24 07:34] itskrsna commented on #27
@nikini  Any update on this ?

[2017-07-04 19:29] westindiantech opened #31 "ionic v1 usage"
Hi, is it possible to use this in ionic v1 app?

[2017-07-06 12:44] djsanj007 opened #32 "Pinch zoom not working fine"
Drag is restricted to 50% area of content after doing the Pinch zoom

[2017-07-06 13:05] nikini commented on #32
Can you give me the versions of the package/ionic etc?

[2017-07-06 21:20] ArtKuz opened #33 "After close gallery-modal (dismiss) I can't open new gallery-modal"
Hello.
After close gallery-modal (`dismiss`) I can't open new gallery-modal.
I can open gallery-modal  only once.
I think that the problem is in `dismiss`.
Why you don't use `pop`?
Maybe I'm doing something wrong?
[code]

[2017-07-07 11:26] djsanj007 commented on #27
@nikini , Same is happening while running build with AOT

Any update on this?

[2017-07-07 17:33] ArtKuz commented on #33
I finded problem in scroll.

[2017-07-07 17:33] #33 closed, assigned to nobody

[2017-07-23 12:04] nikini commented on #31
No, sorry! It's for ionic v2/v3

[2017-07-23 12:04] #31 closed, assigned to nobody

[2017-07-23 12:05] #29 closed, assigned to nobody

[2017-07-23 12:05] nikini commented on #27
Hello, sorry for the delay. Please check v0.2.1. But, also check on how to use it. It's slightly different now, since it has its own module

[2017-07-23 12:07] nikini commented on #15
Should be in version 0.2.1 :)

[2017-07-23 12:07] #15 closed, assigned to nobody

[2017-07-23 12:08] #9 closed, assigned to nobody

[2017-07-23 12:08] #10 closed, assigned to nobody

[2017-07-23 12:30] tgezginis commented on #15
👍

[2017-07-24 01:25] #7 closed, assigned to nobody

[2017-07-29 04:54] TonyLuo opened #34 "[feature request] close the modal when click on the outside of the image"
hi nikini, thanks for your amazing gallery.
one suggestion: can make it as an option to close the modal when click the outside of the image?

[2017-07-31 07:55] #32 closed, assigned to nobody

[2017-07-31 07:55] nikini commented on #27
I'll close this issue in 7 days and assume it's fixed :)

[2017-07-31 11:02] itskrsna commented on #27
@nikini  i moved to another project , will take time  and will check this issue and update u within 2 days .. thanks for this :)

[2017-08-08 15:17] pavel-kalmykov opened #35 "Update photos array when using the modal"
I'm currently using this module to view some pictures that are previously shown as thumbnails in a grid, and when I open the modal I pass an array of those low quality pictures to visualize them.

What I would like to do is to re-download the image that I am currently viewing in the modal to get the original quality one and exchange it (if not at real-time, at least before I open the modal).

I tr

[2017-08-08 17:59] nikini commented on #35
So, you pass low quality images to the plugin and you want the plugin to redownload them when it opens? Then, it will redownload low quality images. It downloads the images you pass in the array.

[2017-08-09 08:42] moda20 opened #36 "High CPU usage when sliding the images"
I am getting a strange CPU usage spikes when i used your module in my app. this happens when i slide an image to go to the next one. Is there any way of reducing it ?

i have a question too :
Does the module track all the images given everytime an image slide is happening?

[2017-08-11 09:44] itskrsna commented on #27
@nikini  started working on this . .. will update the Status

[2017-08-12 09:50] nikini commented on #27
Just make sure you use the latest version, and make sure you include the library with the module as it says in the README, please

[2017-08-12 17:05] wesleymonaro opened #37 "Build --prod error"
Hi!

When I build my project with --prod, display the error:

[13:46:28]  build prod failed: Metadata version mismatch for module
           project/node_modules/ionic-gallery-modal/ionic-gallery-modal.d.ts, found
            version 3, expected 1

[WARN] Error occurred during command execution from a CLI plugin (@ionic/cli-plugin-cordova).
Error: Metadata version mismatch for module /Users/roosev

[2017-08-12 23:04] bogomips commented on #32
I have the same issue with the last 0.2.2, pinch to zoom does not work fine.
1) it's very slow
2) The the zoomed area does not correspond to the area I pinched on

    @ionic/cli-plugin-cordova       : 1.6.1
    @ionic/cli-plugin-ionic-angular : 1.4.1
    @ionic/cli-utils                : 1.7.0
    ionic (Ionic CLI)               : 3.7.0

global packages:

    Cordova CLI : 7.0.1

local packages:

[2017-08-15 11:16] chdanielmueller opened #38 "Module makes click events fire 5 times"
Hi there,

Because of the usage of IonicModule.forRoot(...) in https://github.com/nikini/ionic-gallery-modal/blob/master/src/index.ts (click) events are executed 5 times on iOS devices.
Somehow multiple IonicModule.forRoot(...) render multiple views on top of each other which is no problem on Android devices or emulators.
Can you remove the usage of those?

Tested with ionic-angular 3.6.0

If I ca

[2017-08-15 17:35] bogomips opened #39 "while the image loads there is a black background..."
It would nice for the user seeing a spinner instead of the black background while the image loads.
is it already implemented? is there any plan for it?

[2017-08-18 09:51] itskrsna commented on #27
@nikini  i have tried with the new Changes , in my app using the lazy-load when i tried to load the modal it is throwing error as  `Cannot read property '_getPortal' of undefined`

**Update:** :
I'm unable to re-pro this issue when i'm trying without lazy loading components . Issue occurs only when trying with the Lazy Loading.

[2017-08-19 01:00] bogomips opened #40 "performance & bandwidth problem"
Before the picture is showed, the whole album array of images is downloaded.
This behaviour causes a  visual delay and it's a big waste of data too.
The right approach would be to load just the clicked/visible image and, at the maximum, to preload the next one.

[2017-08-19 16:14] bogomips commented on #39
At the end I cloned the repo, so the spinner exists.
In order to make it work I changed a little bit the css, I removed "position: relative" on .fitted-image class

 .fitted-image {
    display: inline-block;
    //position: relative;

[2017-08-20 04:56] Muneem opened #42 "unmet peer dependency"
Hello can you upgrade it to use latest version of libraries. I am getting unmet peer dependency error in rxrjs and zone.js

[2017-08-20 08:01] muneemHabib opened #43 "Ignore"

[2017-08-22 21:50] rachelpopa commented on #42
Getting the same issue.

[2017-08-24 07:54] nikini commented on #42
Hi, I'll get to it next week. This week I'm very busy. Or, you can try to change it, test it and then do a pull request :)

[2017-08-24 07:54] #43 closed, assigned to nobody

[2017-08-24 07:55] nikini commented on #40
I'll look into that, including the pull request :)

[2017-08-24 07:55] nikini commented on #39
I'll look into that. Indeed a spinner exists.

[2017-08-24 07:57] nikini commented on #38
I can't remove the usage of those. Those give me access to the angular components so I can use them in my plugin. But I don't think it's coming from that.

What is you exact issue?

[2017-08-24 07:58] nikini commented on #36
Hi, I have a plan on reducing that, actually 👍

What do you mean by tracking?

[2017-08-24 07:59] nikini commented on #37
Can you try 0.2.2 and let me know if that still shows you this error? Weird that you're getting that

[2017-08-24 08:00] nikini commented on #34
What do you mean close it when it's outside? When you click on the black side? or what? you can just drag it to close it

[2017-08-24 08:02] #35 closed, assigned to nobody

[2017-08-28 07:10] chdanielmueller commented on #38
The problem is that the (click) action of button is being executed multiple times on iOS devices.
`<button (click)="clickAction()">`

Only on physical devices I was able to confirm this issue.
As soon as your module is no longer being imported this issue is resolved.
[code]

While searching for a solution for this problem I came across multiple posts which state that you should not use `IonicModul

[2017-08-30 10:31] muenzel commented on #38
I experience the exact same issue. An event is fired 5 times in my iOS simulator. In the web view instead, everything works fine.
This is for me a very severe problem b/c this causes 5 POST events send to my REST backend.

[2017-08-30 16:59] chdanielmueller commented on #38
Hi @muenzel,

Could you please verify my solution?
If you don't want to check out the module, build it and edit the references in your own project you can replace the `node_modules/ionic-gallery-modal/index.js` with the content of the following file:
[index.js.txt](https://github.com/nikini/ionic-gallery-modal/files/1264426/index.js.txt)

Thanks,
Daniel

[2017-08-30 17:06] #38 closed, assigned to nobody

[2017-08-31 08:06] muenzel commented on #38
@chdanielmueller thanks a lot for the quick fix! works like a charm

still need to add the new version to npm though

[2017-09-01 05:41] chdanielmueller commented on #38
That's something @nikini needs to do.
Since this is only a bugfix which does not alter any functionality I would recommend to release as version 0.2.3.

[2017-09-02 17:12] wesleymonaro commented on #37
@nikini It's solved! I updated to 0.2.2 version and the build was done! Thank you!

[2017-09-02 19:27] #37 closed, assigned to nobody

[2017-09-05 16:21] moda20 commented on #36
What I meant is: does the plugin refreshes the list of images on every slide? I asked that because at the time it looked like the problem of the High CPU Usage but. I did find a workaround which is: reducing the size of the array of images given to the gallery modal. the original size was about 250 element, the new one is 30.

[2017-09-17 01:59] jjcheng opened #45 "ionicAngular.IonicModule.forRoot(...) causing click event to fire multiple times"
My Ionic 2 app is using this module, and (click) event is being fired multiple times at some pages. I found out the issue is with these 4 lines:

ionicAngular.IonicModule.forRoot(TouchEventsDirective),
ionicAngular.IonicModule.forRoot(FittedImage),
ionicAngular.IonicModule.forRoot(ZoomableImage),
ionicAngular.IonicModule.forRoot(GalleryModal),

Only happens on IOS.

Anyone else has the same issue?

[2017-09-18 03:28] jjcheng commented on #45
Just realised that the issue is fixed in the new version, Glad to see it's being actively maintained, thank you!

[2017-09-18 03:28] #45 closed, assigned to nobody

[2017-10-03 14:02] Muneem opened #46 "Wrong total counts"
I have 5 images in my array. And i am seeing 389 as total counts of images when i open this gallery.

Is there any option where i can set it?

Its not written anywhere in documents

[2017-10-04 13:26] developerpbt opened #47 "Cannot read property 'forChild' of undefined in GalleryModalModule."
Error Page Url:
https://user-images.githubusercontent.com/29945417/31177944-1d877532-a935-11e7-93de-e8857e17e266.png

Package.json :

`{
  "name": "io.cordova.myapp202f28",
  "author": "",
  "homepage": "",
  "private": true,
  "scripts": {
    "clean": "ionic-app-scripts clean",
    "build": "ionic-app-scripts build",
    "ionic:build": "ionic-app-scripts build",
    "ionic:serve": "ionic-app-scr

[2017-10-10 06:40] akhilsanker opened #48 "To open the selected image in model unless specifying 'initialSlide'"
Hi,
Using the plugin instead of ImageViewer plugin,due to advantage of navigation to other image by swiping.
But the modal is not opened with the selected image,every time either first or the specified index image is opened in slider.
Needs to open the clicked image in slider unless of the  'initialSlide' index.

Anybody has any suggestion.
Any  suggestion are appreciated.

Thanks,

[2017-10-10 12:29] #48 closed, assigned to nobody

[2017-10-12 13:49] nikini opened #49 "Help maintaining this repository"
Unfortunately I don't have as much time as I would hope, so if anybody would like, I would gladly accept some help in maintaining this repository. I would put your name up in the README and everything.

By maintaining, to be clear, I mean: fixing bugs, developing new features, responding to tickets.

I don't want to quit on this project yet, but in the following period, my time is very limited.

[2017-10-18 08:06] SanSolo commented on #27
Hi,

Still having the issue "ionic-gallery-modal module not found" with v.0.2.7. I'm following the new way to use it but still having trouble.

In my app.module.ts:
![image](https://user-images.githubusercontent.com/15002123/31707130-9e8ab872-b3eb-11e7-9de0-8abe119a2827.png)

My package.json file:

[code]
Any idea on what's going on there ?

**UPDATE:**

Fixed it with:

- Deleted node_modules fold

[2017-11-01 05:49] DrZhong opened #50 "Can the image be lazyload?"
my sildes has many images,and those images are vary large(about 5M erery image),can this image be lazyload when silde?

[2017-11-20 20:25] dheavy commented on #47
Any news on this? I'm having the same error and thus cannot use the plugin.

[2017-11-23 05:17] jayserdny commented on #11
@nikini I would like to implement this enhancement 💯 @kadox07 Can you tell me more about what you need?

[2017-11-23 10:56] nikini commented on #11
I think that what @kadox07 needs is that he can have interaction in the gallery and maybe when you tap on an image, that it can show an actionsheet. But, I wouldn't make it specifically that, but more that allow interaction on images. Does that make sense, @jayserdny ?

[2017-11-23 11:27] jayserdny commented on #11
@nikini Maybe a functionality like Facebook can be added where users are able to download or share the current photo in the gallery.

[2017-11-23 14:32] nikini commented on #11
Yeah, something like that. But I wouldn't say that it should be integrated into the plugin, but more of a capability that developers should have to build themselves on top of the plugin. Don't you agree, @jayserdny ?

[2017-11-23 19:38] jayserdny commented on #11
@nikini I agrre with you. Since some developers have different ideas, I believe the enhancement should allow the developer to implement a header or footer to the modal page with their own option. What do you think?

By the way, I was playing around with your plugin and I added option to show pagination in the slidesm

[2017-12-04 21:26] JayWIlsonJr commented on #49
I just shot you an email about helping out.

[2017-12-05 22:17] VesperDev commented on #47
I have the same error and I do not know how to repair it :(

[2017-12-07 09:48] abmnukmr commented on #37
Still getting same

[2017-12-12 17:38] sklaujb opened #51 "Image not zooming"
I got everything working right except I can't seems to zoom the image at all, i tried on the real ios device and I can only enlarge the image a little bit when trying to zoom the image and as soon as i release my fingers, image go back to original size, why is this happening?? Anyone can help?

[2017-12-18 10:04] Flink91 commented on #48
I do this:

`<img src="image.jpg" (click)="openGallery(1)">`

and in .ts

[code]

I hope that's what you are looking for!

[2017-12-18 10:08] Flink91 commented on #11
I want to add a download button as well, any news on that?

[2017-12-19 00:02] JeremyLaffard opened #52 "How to close the modal by swiping up ?"
I know that's it possible to close the modal by swiping down, what about swiping up ?

[2017-12-19 08:07] sklaujb commented on #51
no one having this problem??

[2017-12-22 07:32] hacker0817 commented on #51
i have the same problem,can anyone help me ?

[2018-01-11 11:15] amirhammad commented on #51
I have the same problem. Even if I open the [demo](http://cip.chat/ionic-gallery-modal-demo/) on a phone(android 6). Please look into this, thx! 😺 Keep up the good work 👍

[2018-01-12 08:06] w3development-kn opened #54 "Wrong postitioning after orientation change iOS 11"
After changing the orientation when the modal is present, the image gots a wrong position.

See this screenshot: @https://imgur.com/a/CmFzB

[2018-01-12 12:51] alextomas opened #55 "Is it possible to share and download an image?"

[2018-02-01 06:54] GREPY commented on #47
The same situation. Now I have to look for another plugin... 👎

[2018-02-21 13:02] sklaujb commented on #51
I think one of the reasons is because the image size is too small, I tried with the image size of width 800px and it manage to zoom just a little. The demo image I noticed was 1920pxX1080px which is rather huge.

[2018-03-07 03:47] zhuguoliangAI opened #56 "runtime error"
i install the gallery-modal follow the readme.md, and when i start my demo, there is a error like this

Error: Uncaught (in promise): TypeError: Cannot read property 'indexOf' of undefined
TypeError: Cannot read property 'indexOf' of undefined
    at HammerGesturesPlugin.isCustomEvent (http://localhost:8100/build/vendor.js:35509:55)
    at HammerGesturesPlugin.supports (http://localhost:8100/build

[2018-03-07 07:05] zhuguoliangAI commented on #56
oooh, it's my problem,i solved myself。

[2018-03-07 07:05] #56 closed, assigned to nobody

[2018-03-08 03:01] hacker0817 commented on #51
i change to use the photoswipe.js, that's great!

[2018-03-28 09:12] ghost commented on #22
this.element.nativeElement.getElementByClassName is not a function
TypeError: this.element.nativeElement.getElementByClassName is not a function
    at AutoHideDirective.webpackJsonp.283.AutoHideDirective.ngOnInit

i got this error any idea guys

[2018-05-04 06:44] bicibg commented on #55
I am also wondering if that is a feature that can be implemented. If such feature does not exist can I work on your code to make it happen?

[2018-05-04 07:37] nikini commented on #55
Please do :)

[2018-05-04 16:22] bicibg commented on #55
Ok it's done and it works on Android and iOS.
"Photo" interface now have name:string, album:string, downloadable:boolean attributes (which actively show or hide download button). By this I create an album in the device gallery and put the photo in there and return a feedback to the user.
I will do some more testing and send you a pull request over the weekend.

[2018-05-07 06:07] ykokam2 commented on #54
same in android.

[2018-06-08 10:53] kajalbh99 opened #58 "ion-content scroller stopped working on device"
Package is working fine in browser. But when i run Apk in device, I found content scroll stopped working...

[2018-08-16 05:43] zjh497463046 commented on #55
Hello

Is the download function uploaded?

[2018-08-18 08:48] Chethannp opened #59 "Angular 6 + Support ?"

[2018-08-23 11:50] hudsonsilvaoliveira commented on #58
Same problem here with me @kajalbh99. Any news on that? I'll take a closer look at this later, but I feel like that's a problem with HAMMER_GESTURE_CONFIG, which we need to import in order to get the gallery working. I've found this https://github.com/hammerjs/hammer.js/issues/1014 and this https://stackoverflow.com/questions/41017202/vertical-scroll-is-not-working-with-hammerjs-and-angular2/41522

[2018-08-23 19:39] hudsonsilvaoliveira commented on #58
GOT IT!

Based on https://github.com/hammerjs/hammer.js/issues/1014#issuecomment-298724577, I've managed to got everything working now.

Going throught the files I've saw that the **ionicGalleryModal.GalleryModalHammerConfig** is nothing more than a extend of the standard **HammerGestureConfig** from **@angular/platform-browser**. So, I just combined the **GalleryModalHammerConfig** with the **Ham

[2018-08-24 02:58] jayzyaj commented on #55
@bicibg How did you did it? I also want to add some share and download functionality like the[ photo viewer ](https://ionicframework.com/docs/native/photo-viewer/) of ionic native

[2018-08-24 03:00] jayzyaj commented on #39
Any updates on this?

[2018-09-06 06:26] jayzyaj opened #60 "Save or download functionality of the current slide index of the image"
Can you add some download or save image functionality  on the current slide of the index of the image. That would be nice.

[2018-09-07 07:24] jayzyaj commented on #58
@hudsonsilvaoliveira  Where did you found that file? did you created id? And how would I import it?

[2018-09-09 23:20] jayzyaj commented on #51
@hacker0817  How did u implement the photswipe.js in ionic? I read the documentation but how can u implement it in a angular way

[2018-09-10 13:24] hudsonsilvaoliveira commented on #58
@jayzyaj our custom class code goes into your **/ionicapp/src/app/app.module.ts**, right before the @NgModule({}) declarations.

We are actually just rewriting the **GalleryModalHammerConfig** (https://github.com/nikini/ionic-gallery-modal#installation), used in the **providers** section, that didn't work as expected for some reason.

So, instead of using the **useClass: ionicGalleryModal.GalleryM

[2018-10-11 09:56] gulullu opened #61 "ionic 4 support needed"
support ionic 4 & angular 6+, please.

[2018-10-24 18:48] Chethanpremkumar commented on #61
any update on this please...?

[2018-10-24 18:48] Chethanpremkumar commented on #59
any update on this please ...?

[2018-12-20 13:49] tzdlr opened #62 "public events when slide changed"
Is it possible to subscribe to the slides slidechanged observable. I would like to track the shown images in the gallery view.

[2019-02-11 16:59] nmw-ltd commented on #55
https://github.com/bicibg/ionic-gallery-modal

[2019-04-10 13:25] anshnirmal commented on #54
A dirty fix for the issue. I have done this for my android application. **Change the time delay from 550 to 1550 worked** for me.

File: node_modules\ionic-gallery-modal\index.js
Line number: 472

`GalleryModal.prototype.orientationChange = function (event) {`
        `    var _this = this;`
        `    // TODO: See if you can remove timeout`
        `    window.setTimeout(function () {`

[2019-04-26 02:26] gougou168 opened #65 "ionic 4 support needed"
ionic 4 support needed

[2019-08-05 06:41] NareshKukreti12 commented on #54
Anyone found the solution. Facing the same problem on android devices.

[2019-08-28 22:01] harryt2 commented on #65
I agree, I can't get Photoswipe to work.

[2019-09-11 09:00] mitesh-shah commented on #59
@nikini Any update on this please?

I am using Angular 7 and ionic 4

[2019-09-11 09:01] mitesh-shah commented on #65
@nikini Any update on this please?

I am using Angular 7 and ionic 4

[2019-11-01 11:25] tejadong opened #66 "Lazy loadding support"
Hi guys:

I think it would be convenient to integrate or add as a requirement the package [https://github.com/tjoskar/ng-lazyload-image](url) this library because I tried to load 100 images and the component takes a long time to load.

I've been looking at the structure of ionic-gallery-modal and I think it would only be necessary to replace the src tag of the fitted-image component with that of [